In [7]:
import os
import pandas as pd

In [10]:
folder_path = r'../data/raw'

In [11]:
print("Files in folder:", os.listdir(folder_path))

Files in folder: ['all_data_M_2024.csv', 'Employment_Projections.csv', 'National_Employment Matrix_IND_610000.csv', 'National_Employment_Matrix_IND_230000.csv', 'National_Employment_Matrix_IND_31-330.csv', 'National_Employment_Matrix_IND_541200.csv', 'National_Employment_Matrix_IND_541300.csv', 'National_Employment_Matrix_IND_710000.csv', 'National_Employment_Matrix_IND_721000.csv', 'National_Employment_Matrix_OCC_39-3011.csv', 'OECD.STI.DEP,DSD_ICT_B@DF_BUSINESSES,1.0+all.csv', 'reddit_comments_combined.csv']

In [13]:
csv_files = [f for f in os.listdir(folder_path) if f.lower().endswith('.csv')]

print("CSV files found:")
for f in csv_files:
    print(f)

CSV files found:
all_data_M_2024.csv
Employment_Projections.csv
National_Employment_Matrix_IND_230000.csv
National_Employment_Matrix_IND_31-330.csv
National_Employment_Matrix_IND_541200.csv
National_Employment_Matrix_IND_541300.csv
National_Employment_Matrix_IND_610000.csv
National_Employment_Matrix_IND_710000.csv
National_Employment_Matrix_IND_721000.csv
National_Employment_Matrix_OCC_39-3011.csv
OECD.STI.DEP,DSD_ICT_B@DF_BUSINESSES,1.0+all.csv
reddit_comments_combined.csv

In [15]:


# Set folder and file

projection_file = "Employment_Projections.csv"

# Load the file
employment_proj = pd.read_csv(os.path.join(folder_path, projection_file), on_bad_lines='skip')

print(f"Employment Projections loaded. Shape: {employment_proj.shape}")
employment_proj.head()

Employment Projections loaded. Shape: (832, 14)

,Occupation Title,Occupation Code,Employment 2023,Employment 2033,"Employment Change, 2023-2033","Employment Percent Change, 2023-2033","Occupational Openings, 2023-2033 Annual Average",Median Annual Wage 2024,Typical Entry-Level Education,Education Code,Work Experience in a Related Occupation,Workex Code,Typical on-the-job Training,trCode
0,Accountants and auditors * Account Auditor*...,"=""13-2011""","1,562.0","1,653.4",91.4,5.8,130.8,"81,680",Bachelor's degree,3,NaN,4,NaN,6
1,Actors * Actor Understudy* Actress* Dramati...,"=""27-2011""",76.0,79.5,3.5,4.5,8.6,NaN,"Some college, no degree",6,NaN,4,Long-term on-the-job training,3
2,Actuaries * Actuarial Associate* Actuarial ...,"=""15-2011""",30.2,36.8,6.6,21.8,2.2,"125,770",Bachelor's degree,3,NaN,4,Long-term on-the-job training,3
3,Acupuncturists * Acupuncture Physician* Lic...,"=""29-1291""",22.1,23.3,1.2,5.5,1.3,"78,140",Master's degree,2,NaN,4,NaN,6
4,Adhesive bonding machine operators and tenders...,"=""51-9191""",12.5,12.4,-0.1,-0.5,1.2,"45,210",High school diploma or equivalent,7,NaN,4,Moderate-term on-the-job training,4

In [30]:
folder_path = r'C:\Users\ewaki\Documents\first_project\data\raw'
matrix_files = [
    "National_Employment_Matrix_IND_31-330.csv",
    "National_Employment_Matrix_IND_230000.csv",
    "National_Employment_Matrix_IND_541200.csv",
    "National_Employment_Matrix_IND_541300.csv",
    "National_Employment_Matrix_IND_610000.csv",
    "National_Employment_Matrix_IND_710000.csv",
    "National_Employment_Matrix_IND_721000.csv",
    "National_Employment_Matrix_OCC_39-3011.csv"
]

# Load and combine all matrix datasets
matrix_dfs = []
for file in matrix_files:
    path = os.path.join(folder_path, file)
    df = pd.read_csv(path, on_bad_lines='skip')  # Skip broken lines
    df['source_file'] = file  # Track origin
    matrix_dfs.append(df)

# Merge into one dataframe
employment_matrix = pd.concat(matrix_dfs, ignore_index=True)
print("Employment matrix shape:", employment_matrix.shape)
employment_matrix.tail(10)

Employment matrix shape: (3834, 18)

,Occupation Title,Occupation Code,Occupation Type,2023 Employment,2023 Percent of Industry,2023 Percent of Occupation,Projected 2033 Employment,Projected 2033 Percent of Industry,Projected 2033 Percent of Occupation,"Employment Change, 2023-2033","Employment Percent Change, 2023-2033",Occupation Sort,Display Level,source_file,Industry Title,Industry Code,Industry Type,Industry Sort
3824,NaN,NaN,NaN,31.4,1.7,36.1,33.5,1.7,37.3,2.1,6.7,NaN,4,National_Employment_Matrix_OCC_39-3011.csv,Traveler accommodation,"=""721100""",Summary,408.0
3825,NaN,NaN,NaN,31.4,13.1,36.1,33.5,13.3,37.3,2.1,6.7,NaN,5,National_Employment_Matrix_OCC_39-3011.csv,Casino hotels,"=""721120""",Line Item,409.0
3826,NaN,NaN,NaN,1.2,0.0,1.4,1.3,0.0,1.5,0.2,13.2,NaN,2,National_Employment_Matrix_OCC_39-3011.csv,Other services (except public administration),"=""810000""",Summary,419.0
3827,NaN,NaN,NaN,0.7,0.0,0.8,0.8,0.0,0.9,0.1,17.4,NaN,3,National_Employment_Matrix_OCC_39-3011.csv,Personal and laundry services,"=""812000""",Summary,428.0
3828,NaN,NaN,NaN,0.7,0.2,0.8,0.8,0.2,0.9,0.1,17.4,NaN,4,National_Employment_Matrix_OCC_39-3011.csv,Other personal services,"=""812900""",Line Item,432.0
3829,NaN,NaN,NaN,0.5,0.0,0.6,0.5,0.0,0.6,0.0,7.3,NaN,3,National_Employment_Matrix_OCC_39-3011.csv,"Religious, grantmaking, civic, professional, a...","=""813000""",Summary,433.0
3830,NaN,NaN,NaN,0.4,0.0,0.4,0.4,0.0,0.4,0.0,7.3,NaN,4,National_Employment_Matrix_OCC_39-3011.csv,"Civic, social, professional, and similar organ...","=""8134-9""",Summary,438.0
3831,NaN,NaN,NaN,0.4,0.1,0.4,0.4,0.1,0.4,0.0,7.3,NaN,5,National_Employment_Matrix_OCC_39-3011.csv,Civic and social organizations,"=""813400""",Line Item,439.0
3832,NaN,NaN,NaN,23.3,0.2,26.8,24.3,0.2,27.1,1.0,4.2,NaN,2,National_Employment_Matrix_OCC_39-3011.csv,Government,"=""900000""",Summary,444.0
3833,NaN,NaN,NaN,23.3,0.4,26.8,24.3,0.4,27.1,1.0,4.2,NaN,4,National_Employment_Matrix_OCC_39-3011.csv,"Local government, excluding education and hosp...","=""999300""",Line Item,450.0

In [26]:
df["Industry Title"].unique()

array(['Total employment', 'Self-employed workers',
       'Total wage and salary employment',
       'Healthcare and social assistance',
       'Arts, entertainment, and recreation',
       'Performing arts, spectator sports, and related industries',
       'Spectator sports',
       'Promoters of performing arts and sports, and agents for public figures',
       'Promoters of performing arts, sports, and similar events',
       'Amusement, gambling, and recreation industries',
       'Gambling industries (except casino hotels)',
       'Other amusement and recreation industries',
       'Accommodation and food services', 'Accommodation',
       'Traveler accommodation', 'Casino hotels',
       'Other services (except public administration)',
       'Personal and laundry services', 'Other personal services',
       'Religious, grantmaking, civic, professional, and similar organizations',
       'Civic, social, professional, and similar organizations',
       'Civic and social organizations', 'Government',
       'Local government, excluding education and hospitals'],
      dtype=object)

In [21]:
employment_matrix.to_csv("../data/clean/occupation_growth.csv", index=False)

In [17]:
reddit_comments = pd.read_csv(r'C:\Users\ewaki\Documents\first_project\data\raw\reddit_comments_combined.csv')
reddit_comments.head()

,Post ID,Post Title,Comment ID,Comment Author,Comment Score,Comment Body,Comment Created
0,17i2fhi,Are you guys worried that AI will take your job?,k6rs0pq,Thisbymaster,26,Try getting GitHub copilot to build a function...,1698461647
1,17i2fhi,Are you guys worried that AI will take your job?,k6rg2pa,usernames_suck_ok,39,The fact that employers don't want people to w...,1698455954
2,17i2fhi,Are you guys worried that AI will take your job?,k6ruz4g,ponzi_pyramid_digdug,18,Sometimes. Then I see what ai can output and d...,1698463171
3,17i2fhi,Are you guys worried that AI will take your job?,k6rfq8z,Battosai_Kenshin99,88,I do not understand people's fear of AI. Imagi...,1698455791
4,17i2fhi,Are you guys worried that AI will take your job?,k6rt4lj,Excuse_my_GRAMMER,7,Not really lol AI is just another tool \n\nI t...,1698462202

In [18]:

print(df.isnull().sum())

Industry Title                          0
Industry Code                           0
Industry Type                           0
2023 Employment                         0
2023 Percent of Occupation              0
2023 Percent of Industry                0
Projected 2033 Employment               0
Projected 2033 Percent of Occupation    0
Projected 2033 Percent of Industry      0
Employment Change, 2023-2033            0
Employment Percent Change, 2023-2033    0
Industry Sort                           1
Display Level                           0
source_file                             0
dtype: int64

In [ ]:
print(f"Columns: {list(df.columns)}\n")

In [19]:
display(employment_proj.info())
display(employment_matrix.info())
display(reddit_comments.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 832 entries, 0 to 831
Data columns (total 14 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Occupation Title                                 832 non-null    object
 1   Occupation Code                                  832 non-null    object
 2   Employment 2023                                  832 non-null    object
 3   Employment 2033                                  832 non-null    object
 4   Employment Change, 2023-2033                     832 non-null    float64
 5   Employment Percent Change, 2023-2033             832 non-null    float64
 6   Occupational Openings, 2023-2033 Annual Average  832 non-null    float64
 7   Median Annual Wage 2024                          826 non-null    object
 8   Typical Entry-Level Education                    832 non-null    object
 9   Education Code                                   832 non-null    int64
 10  Work Experience in a Related Occupation          113 non-null    object
 11  Workex Code                                      832 non-null    int64
 12  Typical on-the-job Training                      510 non-null    object
 13  trCode                                           832 non-null    int64
dtypes: float64(3), int64(3), object(8)
memory usage: 91.1+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3834 entries, 0 to 3833
Data columns (total 18 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Occupation Title                      3810 non-null   object
 1   Occupation Code                       3810 non-null   object
 2   Occupation Type                       3810 non-null   object
 3   2023 Employment                       3834 non-null   object
 4   2023 Percent of Industry              3834 non-null   float64
 5   2023 Percent of Occupation            3834 non-null   float64
 6   Projected 2033 Employment             3834 non-null   object
 7   Projected 2033 Percent of Industry    3834 non-null   float64
 8   Projected 2033 Percent of Occupation  3834 non-null   float64
 9   Employment Change, 2023-2033          3834 non-null   float64
 10  Employment Percent Change, 2023-2033  3834 non-null   float64
 11  Occupation Sort                       3803 non-null   float64
 12  Display Level                         3834 non-null   int64
 13  source_file                           3834 non-null   object
 14  Industry Title                        24 non-null     object
 15  Industry Code                         24 non-null     object
 16  Industry Type                         24 non-null     object
 17  Industry Sort                         23 non-null     float64
dtypes: float64(8), int64(1), object(9)
memory usage: 539.3+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885 entries, 0 to 884
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Post ID          885 non-null    object
 1   Post Title       885 non-null    object
 2   Comment ID       885 non-null    object
 3   Comment Author   796 non-null    object
 4   Comment Score    885 non-null    int64
 5   Comment Body     885 non-null    object
 6   Comment Created  885 non-null    int64
dtypes: int64(2), object(5)
memory usage: 48.5+ KB

None

In [29]:
import csv

# Reload the re-uploaded file after reset
file_path =r'../data/raw/all_data_M_2024.csv'

# Attempt to load while skipping problematic lines
try:
    all_data_df = pd.read_csv(
        file_path,
        quoting=csv.QUOTE_MINIMAL,
        encoding='utf-8',
        on_bad_lines='skip'  # skips problematic lines
    )
    cleaned_preview = all_data_df.head()
except Exception as e:
    cleaned_preview = f"Error during loading: {e}"

cleaned_preview
# Reload the file using semicolon delimiter
all_data_df = pd.read_csv(file_path, delimiter=';', encoding='utf-8', on_bad_lines='skip')

# Show the cleaned preview
all_data_df.head()

C:\Users\ewaki\AppData\Local\Temp\ipykernel_11860\2919637178.py:20: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  all_data_df = pd.read_csv(file_path, delimiter=';', encoding='utf-8', on_bad_lines='skip')

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,00-0000,All Occupations,...,"23,80","37,89","60,44",29.990,36.730,49.500,78.810,125.720,NaN,NaN
1,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,11-0000,Management Occupations,...,"58,70","82,50",#,57.010,79.900,122.090,171.610,#,NaN,NaN
2,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,11-1000,Top Executives,...,"50,48","81,01",#,47.510,68.800,104.990,168.490,#,NaN,NaN
3,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,11-1010,Chief Executives,...,"99,24",#,#,73.710,126.080,206.420,#,#,NaN,NaN
4,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,11-1011,Chief Executives,...,"99,24",#,#,73.710,126.080,206.420,#,#,NaN,NaN